* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

header {
    padding: 16px 0;
    text-align: center;
    text-transform: uppercase;
}

body {
    max-width: 1920px;
    width: 100%;
    background-color: aquamarine;
}

form {
    padding: 24px 0;
    justify-content: center;
    display: flex;
}
form button {
    margin-left: 8px;
}

ul li{
    display: block;
    text-align: center;  
    font-weight: bold;
    font-size: 20px;
}

li {
    list-style: disc;
    list-style-type: square;
}

.tarefa-feita {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    text-decoration: line-through;
}

li:hover {
    cursor: pointer;
}